<nav class="navbar fixed-top navbar-expand-lg py-3 navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="logo" src="../images/Logo.svg" alt="">
            NeuroCap
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto d-flex align-items-center">
                <a class="nav-link" href="#">Главная страница</a>
                <a class="nav-link" href="#">Видео</a>
                <a class="nav-link" href="#">Загрузить фото</a>
                <a class="nav-link" href="#">О команде</a>
                <a class="nav-link nav-btn" href="#">Контакты</a>

                <a class="dark-switch nav-link active">
                    <img src="../images/dark-switch.svg" alt="">
                </a>

                <a class="light-switch nav-link ">
                    <img src="../images/light-switch.svg" alt="">
                </a>
            </div>
            
        </div>
    </div>
</nav>